= form_for @product_type, :html => { :class => 'form-horizontal well' } do |f|
  -if @product_type.errors.any?
    #error_explanation
      %h2= "Возникшие ошибки:"
      %ul
        -@product_type.errors.messages.each do |errs|
          -errs.each do |e|
            -if e.is_a?(Array)
              %li
                =e[0]

  .control-group
    = f.label :name, 'Наименование', :class => 'control-label'
    .controls
      = f.text_field :name
  .control-group
    = f.label :size_width, 'Ширина, мм', :class => 'control-label'
    .controls
      = f.text_field :size_width
  .control-group
    = f.label :size_height, 'Высота, мм', :class => 'control-label'
    .controls
      = f.text_field :size_height
  .control-group
    = f.label :bonus_product_id, 'Бонусный продукт', :class => 'control-label'
    .controls
      = f.select(:bonus_product_id, options_for_select(ProductType.all.collect{ |p| [p.name, p.id] },
        @product_type.bonus_product_id), {:prompt => 'Выберите продукт'})
  .control-group
    = f.label :bonus_site, 'Бонус для сайта', :class => 'control-label'
    .controls
      = f.text_field :bonus_site
  .control-group
    = f.label :price, 'Стоимость', :class => 'control-label'
    .controls
      = f.text_field :price
  .form-actions
    = f.submit 'Сохранить', :class => 'btn btn-primary'
    =link_to 'Отмена', product_types_path, class: 'btn'


