.page-header
  %h1
    Продукты

.container
  .row
    .span12

      = render :partial => "shared/messages"

      %p
        = link_to new_product_type_path, class: 'btn' do
          =glyph(:plus)
          Добавить

      %table.table.table-striped.table-bordered
        %tr
          %th Наименование
          %th Размер, мм
          %th Бонус
          %th Бонус для сайта
          %th Цена
          %th Операции

        - @product_types.each do |product|
          %tr
            %td= link_to product.name, edit_product_type_path(product)
            %td
              =product.size_width
              x
              =product.size_height
            %td= product.bonus_type.name if product.bonus_type
            %td= product.bonus_site
            %td= product.price
            %td
              .btn-group
                = link_to edit_product_type_path(product), :class => 'btn btn-mini', title: "Изменить" do
                  =glyph(:edit)
                = link_to product, :method => :delete, :confirm => 'Удалить запись?',
                :class => 'btn btn-mini', title: "Удалить" do
                  =glyph(:remove)
