# encoding: utf-8
-#TODO: Вынести этот блок в partial
#message
  - if flash[:notice]
    #notice
      = flash[:notice]
  - if flash[:error]
    #warning
      Ошибка:
      %br
      - if flash[:error].is_a?(Array)
        - flash[:error].each do |msg|
          = msg
      - else
        = flash[:error]

-#TODO: Вынести блок верхнего меню в partial
= link_to "Компании", companies_path
- if @current_user.is_admin?
  = link_to "Пользователи", users_path
= link_to "Выйти", logout_path

%h1.section-title
  Сводка