= form_for @phone, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :mobile_refix, :class => 'control-label'
    .controls
      = f.text_field :mobile_refix, :class => 'text_field'
  .control-group
    = f.label :publishable, :class => 'control-label'
    .controls
      = f.check_box :publishable, :class => 'check_box'
  .control-group
    = f.label :fax, :class => 'control-label'
    .controls
      = f.check_box :fax, :class => 'check_box'
  .control-group
    = f.label :director, :class => 'control-label'
    .controls
      = f.check_box :director, :class => 'check_box'
  .control-group
    = f.label :mobile, :class => 'control-label'
    .controls
      = f.check_box :mobile, :class => 'check_box'
  .control-group
    = f.label :description, :class => 'control-label'
    .controls
      = f.text_area :description, :class => 'text_area'
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .control-group
    = f.label :contact, :class => 'control-label'
    .controls
      = f.number_field :contact, :class => 'number_field'
  .control-group
    = f.label :order_num, :class => 'control-label'
    .controls
      = f.number_field :order_num, :class => 'number_field'
  .control-group
    = f.label :branch_id, :class => 'control-label'
    .controls
      = f.number_field :branch_id, :class => 'number_field'
  .control-group
    = f.label :old_id, :class => 'control-label'
    .controls
      = f.number_field :old_id, :class => 'number_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), phones_path, :class => 'btn'
