-form_params = @branch ? [@branch, @phone] : @phone
= form_for (form_params) do |f|
  -if @phone.errors.any?
    #error_explanation
      %h2= "#{pluralize(@phone.errors.count, "error")} prohibited this phone from being saved:"
      %ul
        - @phone.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :order_num
    = f.number_field :order_num
  .field
    = f.label :mobile_refix
    = f.text_field :mobile_refix
  .field
    = f.label :publishable
    = f.check_box :publishable
  .field
    = f.label :fax
    = f.check_box :fax
  .field
    = f.label :director
    = f.check_box :director
  .field
    = f.label :contact
    = f.check_box :contact
  .field
    = f.label :mobile
    = f.check_box :mobile
  .actions
    = f.submit 'Сохранить'
