-form_params = @branch ? [@branch, @phone] : @phone
= form_for (form_params) do |f|
  -if @phone.errors.any?
    #error_explanation
      %h2= "#{pluralize(@phone.errors.count, "error")} prohibited this phone from being saved:"
      %ul
        - @phone.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name, '№ телефона'
    = f.text_field :name
  .field
    = f.label :order_num, 'Порядок отображения'
    = f.number_field :order_num
  .field
    = f.label :mobile, 'Мобильный'
    = f.check_box :mobile
  .field
    = f.label :mobile_refix, 'Префикс мобильного оператора'
    = f.text_field :mobile_refix
  .field
    = f.label :publishable, 'В печать'
    = f.check_box :publishable
  .field
    = f.label :fax, 'Факс'
    = f.check_box :fax
  .field
    = f.label :director, 'Директор'
    = f.check_box :director
  .field
    = f.label :contact, 'Контактный'
    = f.check_box :contact
  .actions
    = f.submit 'Сохранить'
