= render :partial => "shared/messages"

.page-header
  %h1
    Телефон
    %p
      %small= link_to @branch.fact_name, branch_path(@branch)


.container-fluid
  .row-fluid
    .span4.well
      %h3.well-title
        Информация
      %table.table.table-condensed
        %tbody
          %tr
            %td
              %p.tl.t-cell-label № телефона:
            %td= @phone.name
          %tr
            %td
              %p.tl.t-cell-label Мобильный:
            %td
              = check_box_tag("cb_phone_mobile", 1, @phone.mobile, { :disabled => "disabled" })
          -if @phone.mobile
            %tr
              %td
                %p.tl.t-cell-label Префикс сотового оператора:
              %td= @phone.mobile_refix
          %tr
            %td
              %p.tl.t-cell-label Для печати:
            %td
              = check_box_tag("cb_phone_publishable", 1, @phone.publishable, { :disabled => "disabled" })
          %tr
            %td
              %p.tl.t-cell-label Факс:
            %td
              = check_box_tag("cb_phone_fax", 1, @phone.fax, { :disabled => "disabled" })
          %tr
            %td
              %p.tl.t-cell-label Директор:
            %td
              = check_box_tag("cb_phone_director", 1, @phone.director, { :disabled => "disabled" })
          %tr
            %td
              %p.tl.t-cell-label Контактный:
            %td
              = check_box_tag("cb_phone_contact", 1, @phone.contact, { :disabled => "disabled" })

      %div{style: "text-align: center;"}
        .form-inline
          = link_to 'К филиалу', branch_path(@branch), :class => 'btn btn-small'
          = link_to "Изменить", edit_phone_path(@phone), :class => 'btn btn-small'
          = link_to "Удалить", phone_path(@phone), :method => "delete", :confirm => "Вы уверены?", :class => 'btn btn-danger btn-small'

