= form_for ([@company, @branch]) do |f|
  -if @branch.errors.any?
    #error_explanation
      %h2= "#{pluralize(@branch.errors.count, "error")} prohibited this branch from being saved:"
      %ul
        - @branch.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :form_type_id
    = f.select(:form_type_id, options_for_select(FormType.all.collect{ |ftype| [ftype.name, ftype.id] }))
  .field
    = f.label :fact_name
    = f.text_field :fact_name
  .field
    = f.label :legel_name
    = f.text_field :legel_name
  .field
    = f.label :comments
    = f.text_field :comments
  .actions
    = f.submit 'Добавить'