-form_params = @company ? [@company, @branch] : @branch
= form_for form_params, :html => { :class => 'well form-inline' } do |f|
  -if @branch.errors.any?
    #error_explanation
      %h2= "#{pluralize(@branch.errors.count, "error")} prohibited this branch from being saved:"
      %ul
        - @branch.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = f.label :form_type_id, 'Форма собственности', :class => 'control-label'
    .controls
      = f.select(:form_type_id, options_for_select(FormType.all.collect{ |ftype| [ftype.name, ftype.id] },
      @branch.form_type_id), {}, {class: 'select_field input-xlarge'})
  .control-group
    = f.label :fact_name, 'Фактическое название', :class => 'control-label'
    .controls
      = f.text_field :fact_name, :class => 'text_field input-xlarge'
  .control-group
    = f.label :legel_name, 'Юридическое название', :class => 'control-label'
    .controls
      = f.text_field :legel_name, :class => 'text_field input-xlarge'
  .control-group
    = f.label :comments, 'Примечание', :class => 'control-label'
    .controls
      = f.text_area :comments, :class => 'text_area input-xlarge', :rows => 3
  .form-actions
    = f.submit 'Сохранить', :class => 'btn btn-primary'
    - path = @company ? company_path(@company) : company_path(@branch.company)
    = link_to 'Отмена', path, :class => 'btn'
