-form_params = @company ? [@company, @branch] : @branch
= form_for form_params, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :form_type_id, :class => 'control-label'
    .controls
      = f.number_field :form_type_id, :class => 'number_field'
  .control-group
    = f.label :fact_name, :class => 'control-label'
    .controls
      = f.text_field :fact_name, :class => 'text_field'
  .control-group
    = f.label :legel_name, :class => 'control-label'
    .controls
      = f.text_field :legel_name, :class => 'text_field'
  .control-group
    = f.label :company_id, :class => 'control-label'
    .controls
      = f.number_field :company_id, :class => 'number_field'
  .control-group
    = f.label :comments, :class => 'control-label'
    .controls
      = f.text_field :comments, :class => 'text_field'
  .control-group
    = f.label :is_main, :class => 'control-label'
    .controls
      = f.check_box :is_main, :class => 'check_box'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), company_path(@company), :class => 'btn'
