-if @branch.is_main?
  %p.badge.badge-success Головной филиал

%table.table.table-borderless.table-condensed
  %tbody
    -if @branch.form_type
      %tr
        %td
          %p.tl.t-cell-label Форма:
        %td= @branch.form_type.name
    -if @branch.fact_name
      %tr
        %td
          %p.tl.t-cell-label Название:
        %td= @branch.fact_name
    -if @branch.legel_name
      %tr
        %td
          %p.tl.t-cell-label Юридическое:
        %td= @branch.legel_name
    -if @branch.comments
      %tr
        %td{colspan: 2}
          %p=@branch.comments

%div{style: "text-align: center;"}
  .form-inline
    .btn-group
      =link_to company_path(@company), :class => 'btn btn-mini', title: 'К компании' do
        =glyph("arrow-left")
      = link_to edit_branch_path(@branch), class: 'btn btn-mini', title: 'Изменить' do
        =glyph(:edit)
      = link_to branch_path(@branch), :method => :delete, :confirm => 'Вы уверены?', title: 'Удалить', class: 'btn btn-mini' do
        =glyph(:remove)