
= render :partial => "shared/top_menu"
= render :partial => "shared/messages"

%h1#title
  Филиал

= link_to @company.title, company_path(@company)

%p
  %strong Form type:
  = @branch.form_type.name
%p
  %strong Fact name:
  = @branch.fact_name
%p
  %strong Legel name:
  = @branch.legel_name
%p
  %strong Примечание:
  = @branch.comments

= link_to 'Edit', edit_branch_path(@branch)
\|
= link_to 'Back', company_path(@company)
