= render :partial => "shared/messages"

.page-header
  %h1
    Филиал
    %p
      %small= link_to @company.title, company_path(@company)


.container-fluid
  .row-fluid
    .span4.well
      %h3.well-title Информация
      %table.table.table-condensed
        %tbody
          -if @branch.is_main?
            %tr
              %td{colsspan: 2}
                %p.tl Головной филиал
          %tr
            %td
              %p.tl.t-cell-label Форма собственности:
            %td
              = @branch.form_type.name if @branch.form_type
          %tr
            %td
              %p.tl.t-cell-label Фактическое название:
            %td= @branch.fact_name
          %tr
            %td
              %p.tl.t-cell-label Юридическое название:
            %td= @branch.legel_name
          -if @branch.comments
            %tr
              %td{colspan: 2}
                %p=@branch.comments
      %div{style: "text-align: center;"}
        .form-inline
          = link_to 'К компании', company_path(@company), :class => 'btn btn-small'
          = link_to "Изменить", edit_branch_path(@branch), :class => 'btn btn-small'
          = link_to "Удалить", company_path(@company), :method => "delete", :confirm => "Вы уверены?", :class => 'btn btn-danger btn-small'

    .span4.well
      %h3.well-title Веб-сайты
      = form_tag branch_add_website_path(@branch), {:remote => true, :method => :post, class: "form-inline"} do
        = text_field_tag "branch_website", "", :placeholder => "http://www.example.com", :size => 70
        = submit_tag "Добавить", {id: "branch_add_website", :class => "btn btn-small"}
      #websites_list
        = render :partial => "websites_list"
    .span4.well
      %h3.well-title Электронная почта
      = form_tag branch_add_email_path(@branch), {:remote => true, :method => :post, class: "form-inline"} do
        = text_field_tag "branch_email", "", :placeholder => "test@test.com", :size => 70
        = submit_tag "Добавить", {:id => "branch_add_email", :class => "btn btn-small"}
      #emails_list
        = render :partial => "emails_list"


%h2 Адрес

-if @branch.address.is_a?(NilClass)
  = link_to 'Добавить адрес', new_branch_address_path(@branch)
-else
  = link_to 'Изменить адрес', edit_address_path(@branch.address)
  \|
  = link_to 'Удалить адрес', @branch.address, :confirm => 'Вы уверены?', :method => :delete
  %p
    = @branch.address.full_address

%h2 Телефоны

= link_to 'Добавить телефон', new_branch_phone_path(@branch)

%table#phones.sub-index
  -if @branch.phones.count > 0
    %tr
      %th № телефона
      %th Мобильный?
      %th Префикс моб. оператора
      %th Контактный?
      %th Директор?
      %th Факс?
      %th Порядок
      %th Для печати?
      %th
      %th
    -@branch.phones.each do |phone|
      %tr
        %td= phone.name
        %td= check_box_tag("cb_mobile", 1, phone.mobile?, { :disabled => "disabled" })
        %td= phone.mobile_refix.to_s
        %td= check_box_tag("cb_contact", 1, phone.contact?, { :disabled => "disabled" })
        %td= check_box_tag("cb_director", 1, phone.director?, { :disabled => "disabled" })
        %td= check_box_tag("cb_fax", 1, phone.fax?, { :disabled => "disabled" })
        %td= phone.order_num.to_s
        %td= check_box_tag("cb_publishable", 1, phone.publishable?, { :disabled => "disabled" })
        %td= link_to 'Изменить', edit_phone_path(phone)
        %td= link_to 'Удалить', phone, :confirm => 'Вы уверены?', :method => :delete
  -else
    %tr
      %td Телефонов нет.

