
= render :partial => "shared/top_menu"
= render :partial => "shared/messages"

%h1#title
  Филиал

= link_to @company.title, company_path(@company)

%p
  %strong Form type:
  = @branch.form_type.name
%p
  %strong Fact name:
  = @branch.fact_name
%p
  %strong Legel name:
  = @branch.legel_name
%p
  %strong Примечание:
  = @branch.comments

= link_to 'Изменить', edit_branch_path(@branch)
\|
= link_to 'К компании', company_path(@company)

%h2 Адрес

-if @branch.address.is_a?(NilClass)
  = link_to 'Добавить адрес', new_branch_address_path(@branch)
-else
  = link_to 'Изменить адрес', edit_address_path(@branch.address)
  \|
  = link_to 'Удалить адрес', @branch.address, :confirm => 'Вы уверены?', :method => :delete
