-form_params = @company ? [@company, @person] : @person
= form_for (form_params),:html => { :class => 'well form-horizontal' } do |f|
  -if @person.errors.any?
    #error_explanation
      %h2= "#{pluralize(@person.errors.count, "error")}:"
      %ul
        - @person.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = f.label :position, 'Должность', :class => 'control-label'
    .controls
      = f.text_field :position
  .control-group{id:'person_second_name_group'}
    = f.label :second_name, 'Фамилия', :class => 'control-label'
    .controls
      = f.text_field :second_name
  .control-group{id:'person_name_group'}
    = f.label :name, 'Имя', :class => 'control-label'
    .controls
      = f.text_field :name
  .control-group
    = f.label :middle_name, 'Отчество', :class => 'control-label'
    .controls
      = f.text_field :middle_name
  .control-group
    = f.label :phone, 'Телефон', :class => 'control-label'
    .controls
      = f.text_field :phone
  .control-group{id:'person_email_group'}
    = f.label :email, 'Email', :class => 'control-label'
    .controls
      = f.text_field :email

  .form-actions
    = f.submit 'Сохранить', :class => 'btn btn-primary'
    -s = @person.id ? company_path(@person.company) : company_path(@company)
    = link_to 'Отмена', s, :class => 'btn'