# encoding: utf-8
= render :partial => "shared/messages"
= render :partial => "shared/top_menu"

%h1.section-title#title
  Поиск

%div
  = form_tag search_company_path, {:remote => true, :method => :post} do
    #s_name
      Название:
      = text_field_tag "search_name", "", :placeholder => "прямое, фактическое или юридическое", :size => 70
    #s_email
      Email:
      = text_field_tag "search_email", "", :placeholder => "test@test.com", :size => 70
    #s_address
      Адрес (поиск проводится по адресам в зарегистрированных филиалах)
      #s_address_city
        Город
        = select_tag("select_search_city", options_for_select(City.all.collect{ |s| [s.name, s.id] }),
                  {:prompt => "Выберите город или населённый пункт", :id => "select_search_city"})
      #s_address_district
        Район
        = select_tag("select_search_district", options_for_select(District.all.collect{ |s| [s.name, s.id] }),
          {:prompt => "Выберите район", :id => "select_search_district"})
      #s_address_district
        Улица
        = select_tag("select_search_street", options_for_select(Street.name_with_city.collect{ |s| [s[:name], s[:id]] }),
          {:prompt => "Выберите улицу", :id => "select_search_street"})
    #s_controls
    = submit_tag "Искать", {:id => "do_search"}

  #search_results
    = render :partial => "search_results"