-form_params = @company ? [@company, @contract] : @contract
= form_for form_params, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :contract_status_id, :class => 'control-label'
    .controls
      = f.number_field :contract_status_id, :class => 'number_field'
  .control-group
    = f.label :project_code_id, :class => 'control-label'
    .controls
      = f.number_field :project_code_id, :class => 'number_field'
  .control-group
    = f.label :date_sign, :class => 'control-label'
    .controls
      = f.date_select :date_sign, :class => 'date_select'
  .control-group
    = f.label :number, :class => 'control-label'
    .controls
      = f.text_field :number, :class => 'text_field'
  .control-group
    = f.label :amount, :class => 'control-label'
    .controls
      = f.text_field :amount, :class => 'text_field'
  .control-group
    = f.label :bonus, :class => 'control-label'
    .controls
      = f.check_box :bonus, :class => 'check_box'
  .control-group
    = f.label :company_legel_name, :class => 'control-label'
    .controls
      = f.text_field :company_legel_name, :class => 'text_field'
  .control-group
    = f.label :person, :class => 'control-label'
    .controls
      = f.text_field :person, :class => 'text_field'
  .control-group
    = f.label :company_details, :class => 'control-label'
    .controls
      = f.text_field :company_details, :class => 'text_field'
  .control-group
    = f.label :number_of_dicts, :class => 'control-label'
    .controls
      = f.number_field :number_of_dicts, :class => 'number_field'
  .control-group
    = f.label :company_id, :class => 'control-label'
    .controls
      = f.number_field :company_id, :class => 'number_field'
  .form-actions
    = f.submit "Сохранить", :class => 'btn btn-primary'
    = link_to "Отмена", company_path(@company), :class => 'btn'
