%table.table.table-condensed.table-borderless{id: 'contract_info'}
  %tbody
    -if @contract.contract_status
      %tr
        %td
          %p.tl.t-cell-label Статус:
        %td
          %p{id:'contract_status'}
            = @contract.contract_status.name

    -if @contract.project_code
      %tr
        %td
          %p.tl.t-cell-label Проект:
        %td
          %p{id:'contract_project_code'}
            = @contract.project_code.name

    -if @contract.date_sign
      %tr
        %td
          %p.tl.t-cell-label Заключён:
        %td
          %p{id:'contract_date_sign'}
            = @contract.date_sign.strftime("%d.%m.%Y")

    -if @contract.amount
      %tr
        %td
          %p.tl.t-cell-label Сумма:
        %td
          %p{id:'contract_amount'}
            = @contract.amount

    %tr
      %td
        %p.tl.t-cell-label Бонусы:
      %td
        %p{id:'contract_bonus'}
          - if @contract.bonus?
            Есть
          - else
            Нет

    -if @contract.company_legel_name
      -if @contract.company_legel_name.length > 0
        %tr
          %td
            %p.tl.t-cell-label Юр. имя заказчика:
          %td
            %p{id:'contract_company_legel_name'}
              = @contract.company_legel_name

    -if @contract.person
      -if @contract.person.length > 0
        %tr
          %td
            %p.tl.t-cell-label Представитель заказчика:
          %td
            %p{id:'contract_person'}
              = @contract.person

    -if @contract.company_details
      -if @contract.company_details.length > 0
        %tr
          %td
            %p.tl.t-cell-label Реквизиты заказчика:
          %td
            %p{id:'contract_company_details'}
              = @contract.company_details

    -if @contract.number_of_dicts
      %tr
        %td
          %p.tl.t-cell-label Количество справочников:
        %td
          %p{id:'contract_number_of_dicts'}
            = @contract.number_of_dicts

    %tr
      %td
        %p.tl.t-cell-label Добавлен:
      %td
        %p{id:''}
          = @contract.created_at.localtime.strftime("%d.%m.%Y")

%div{style: "text-align: center;"}
  .form-inline
    .btn-group
      =link_to company_path(@contract.company), :class => 'btn btn-mini', title: 'К компании' do
        =glyph("arrow-left")
      -if @contract.can_activate?(current_user)
        =link_to activate_contract_path(@contract), :class => "btn btn-mini", title: 'Активировать' do
          =glyph(:ok)
      -if @contract.can_delete?(current_user)
        = link_to edit_contract_path(@contract), class: 'btn btn-mini', title: 'Изменить' do
          =glyph(:edit)
        = link_to contract_path(@contract), :method => :delete, :confirm => 'Вы уверены?', title: 'Удалить', class: 'btn btn-mini' do
          =glyph(:remove)

