- model_class = Contract
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:contract_status_id)
      %th= model_class.human_attribute_name(:project_code_id)
      %th= model_class.human_attribute_name(:date_sign)
      %th= model_class.human_attribute_name(:number)
      %th= model_class.human_attribute_name(:amount)
      %th= model_class.human_attribute_name(:bonus)
      %th= model_class.human_attribute_name(:company_legel_name)
      %th= model_class.human_attribute_name(:person)
      %th= model_class.human_attribute_name(:company_details)
      %th= model_class.human_attribute_name(:number_of_dicts)
      %th= model_class.human_attribute_name(:company_id)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @contracts.each do |contract|
      %tr
        %td= link_to contract.id, contract_path(contract)
        %td= contract.contract_status_id
        %td= contract.project_code_id
        %td= contract.date_sign
        %td= contract.number
        %td= contract.amount
        %td= contract.bonus
        %td= contract.company_legel_name
        %td= contract.person
        %td= contract.company_details
        %td= contract.number_of_dicts
        %td= contract.company_id
        %td=l contract.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_contract_path(contract), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), contract_path(contract), :method => :delete, :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_contract_path, :class => 'btn btn-primary'
