
= render :partial => "shared/top_menu"
= render :partial => "shared/messages"

%h1#title
  #contract_number
    Договор
    =@contract.number

= link_to @contract.company.title, company_path(@contract.company)

#contract_status
  %strong Статус:
  = @contract.contract_status.name if @contract.contract_status

#contract_project_code
  %strong Код проекта:
  = @contract.project_code.name if @contract.project_code

#contract_date_sign
  %strong Заключён:
  - if @contract.date_sign
    = @contract.date_sign.strftime("%d.%m.%Y")

#contract_amount
  %strong Сумма:
  = @contract.amount

#contract_bonus
  %strong Бонусы:
  - if @contract.bonus?
    Есть
  - else
    Нет

#contract_company_legel_name
  %strong Юр. имя заказчика:
  = @contract.company_legel_name

#contract_person
  %strong Представитель заказчика:
  = @contract.person

#contract_company_details
  %strong Реквизиты заказчика:
  = @contract.company_details

#contract_number_of_dicts
  %strong Количество справочников:
  = @contract.number_of_dicts

#contract_date_added
  %strong Добавлен в систему:
  = @contract.created_at.strftime("%d.%m.%Y")

-if @current_user.is_admin?
  -unless @contract.active?
    = link_to 'Активировать', activate_contract_path(@contract)
    \|
  = link_to 'Изменить', edit_contract_path(@contract)
  \|
= link_to 'К компании', company_path(@contract.company)

%h2 Продукты

%div
  Продукты
  -if @current_user.is_admin? || @current_user.is_agent?
    = select_tag("select_products", options_for_select(Product.all.sort.collect{ |p| [p.name, p.id] }),
    {:prompt => "Выберите продукт", :onChange => "onProdSelect()", :id => "select_product_id"})
    = link_to "Добавить продукт", "#", :id => "add_prod_link", :remote => true,
    :onClick => "$('select option:first').attr('selected','1');"

  :javascript
    gts_contract.id = "#{@contract.id}";

  #products_list
    = render :partial => "products_list"