.page-header
  %h1
    Коды проекта


.container
  .row
    .span6

      = render :partial => "shared/messages"

      %p
        = link_to new_project_code_path, class: 'btn', id: 'project_code_add' do
          =glyph(:plus)
          Добавить

      %table#project_codes.table.table-striped.table-bordered
        %tr
          %th Наименование
          %th Операции
        -@project_codes.each do |pcode|
          %tr
            %td= pcode.name
            %td
              = link_to edit_project_code_path(pcode), :class => 'btn btn-mini', :id => 'project_code_edit_' + pcode.id.to_s,
              title: 'Изменить' do
                =glyph(:edit)
              = link_to pcode, :confirm => 'Вы уверены?', :method => :delete, :id => 'project_code_delete_' + pcode.id.to_s,
              title: 'Удалить', class: 'btn btn-mini' do
                =glyph(:remove)
