= form_for @user, :html => { :class => 'well form-horizontal' } do |f|
  - if @user.errors.any?
    #error_explanation
      %h3
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:

      %ul
        - @user.errors.full_messages.each do |msg|
          %li
          = msg

  .control-group
    = f.label "Имя пользователя:", :class => 'control-label'
    .controls
      = f.text_field :username
  .control-group
    = f.label "Email:", :class => 'control-label'
    .controls
      = f.text_field :email
  .control-group
    = f.label "Пароль:", :class => 'control-label'
    .controls
      = f.text_field :password, :type => 'password'
  .control-group
    = f.label "Подтверждение:", :class => 'control-label'
    .controls
      = f.text_field :password_confirmation, :type => 'password'
  .control-group
    = f.label "Роли", :class => 'control-label'
    .controls
      %label.radio
        Администратор
        = f.radio_button :roles, "admin", :checked => @user.is_admin?
      %label.radio
        Оператор
        = f.radio_button :roles, "operator", :checked => @user.is_operator?
      %label.radio
        Агент
        = f.radio_button :roles, "agent", :checked => @user.is_agent? || !@user.id

  .form-actions
    = f.submit "Создать", :class => 'btn btn-primary'
    = link_to "Отмена", users_path, :class => 'btn'
