.page-header
  %h1
    Пользователи
    %p
      %small Зарегистрированные в системе

.container-fluid
  .row-fluid
    .span10.well

      = render :partial => "shared/messages"

      %p
        = link_to "Добавить", new_user_path, :class => 'btn'

      %table.table.table-striped
        %tbody
          %tr
            %th Имя пользователя
            %th Электронная почта
            %th Роли
            %th Операции
          - @users.each do |user|
            %tr
              %td= user.username
              %td= user.email
              %td= user.roles.map { |role| role.to_s }.join(", ")
              %td
                = link_to "Изменить", edit_user_path(user), class: "btn"
                = link_to "Удалить", user_path(user), :method => :delete, :confirm => 'Are you sure?',
                :class => "btn btn-danger"

