-@address = @branch.address if @branch
%p
  %strong House:
  = @address.house
%p
  %strong Entrance:
  = @address.entrance
%p
  %strong Case:
  = @address.case
%p
  %strong Stage:
  = @address.stage
%p
  %strong Office:
  = @address.office
%p
  %strong Cabinet:
  = @address.cabinet
%p
  %strong Other:
  = @address.other
%p
  %strong Pavilion:
  = @address.pavilion
%p
  %strong Litera:
  = @address.litera
%p
  %strong District:
  = @address.district_id
%p
  %strong City:
  = @address.city_id
%p
  %strong Street:
  = @address.street_id
%p
  %strong Post index:
  = @address.post_index_id