-@address = @branch.address if @branch
%p
  %strong Дом:
  = @address.house
%p
  %strong Подъезд:
  = @address.entrance
%p
  %strong Строение:
  = @address.case
%p
  %strong Этаж:
  = @address.stage
%p
  %strong Офис:
  = @address.office
%p
  %strong Кабинет:
  = @address.cabinet
%p
  %strong Другое:
  = @address.other
%p
  %strong Павильон:
  = @address.pavilion
%p
  %strong Литера:
  = @address.litera
%p
  %strong Район:
  = @address.district_id
%p
  %strong Город:
  = @address.city_id
%p
  %strong Улица:
  = @address.street_id
%p
  %strong Почтовый индекс:
  = @address.post_index_id