-@address = @branch.address if @branch

.container-fluid
  .row-fluid
    .span6.well
      %table.table.table-condensed
        %tbody
          %tr
            %td
              %p.tl.t-cell-label Район:
            %td= @address.district.name if @address.district
          %tr
            %td
              %p.tl.t-cell-label Город:
            %td= @address.city.name if @address.city
          %tr
            %td
              %p.tl.t-cell-label Улица:
            %td= @address.street.name if @address.street
          %tr
            %td
              %p.tl.t-cell-label Почтовый индекс:
            %td= @address.post_index.code if @address.post_index
          %tr
            %td
              %p.tl.t-cell-label Дом:
            %td
              = @address.house
          %tr
            %td
              %p.tl.t-cell-label Подъезд:
            %td
              = @address.entrance
          %tr
            %td
              %p.tl.t-cell-label Строение:
            %td
              = @address.case
          %tr
            %td
              %p.tl.t-cell-label Этаж:
            %td
              = @address.stage
          %tr
            %td
              %p.tl.t-cell-label Офис:
            %td
              = @address.office
          %tr
            %td
              %p.tl.t-cell-label Кабинет:
            %td
              = @address.cabinet
          %tr
            %td
              %p.tl.t-cell-label Другое:
            %td
              = @address.other
          %tr
            %td
              %p.tl.t-cell-label Павильон:
            %td
              = @address.pavilion
          %tr
            %td
              %p.tl.t-cell-label Литера:
            %td
              = @address.litera
          %tr
            %td
              %p.tl.t-cell-label Строение:
            %td
        = @address.case

      %div{style: "text-align: center;"}
        .form-inline
          = link_to 'К филиалу', branch_path(@branch), :class => 'btn btn-small'
          = link_to "Изменить", edit_address_path(@address), :class => 'btn btn-small'

