= form_for @company, :html => { :class => 'form-horizontal well' }  do |f|
  -if @company.errors.any?
    #error_explanation
      %h2= "#{pluralize(@company.errors.count, "error")} prohibited this company from being saved:"
      %ul
        - @company.errors.full_messages.each do |msg|
          %li= msg

  .control-group#title_group
    = f.label :title, 'Название', :class => 'control-label'
    .controls
      = f.text_field :title
      .help-inline#title_help
  .control-group
    = f.label :date_added, 'Дата добавления', :class => 'control-label'
    .controls
      = f.date_select :date_added
  .alert.alert-error#rubricator-alert
    Укажите рубрикатор
  .control-group
    .control-label
      =f.label 'Социальный', :class => 'control-label'
      .controls
        = check_box_tag "company[rubricator][0]", 1, @company.social_rubricator? || @company.full_rubricator? || @company.rubricator.nil?
  .control-group
    .control-label
      =f.label 'Коммерческий', :class => 'control-label'
      .controls
        = check_box_tag "company[rubricator][1]", 2, @company.commercial_rubricator? || @company.full_rubricator?
  .control-group
    = f.label :company_source_id, 'Источник', :class => 'control-label'
    .controls
      = f.select(:company_source_id, options_for_select(Source.all.collect{ |s| [s.name, s.id] },
        @company.company_source_id), {}, {:onChange => "showHideAgentList(#{Source.from_agent_id})"})
  %div{ :id => "agent_list",
        :class => @company.company_source_id == Source.from_agent_id ? "agent_list_visible" : "agent_list_hidden" }
    .control-group
      = f.label :agent_id, "Агент", :class => 'control-label'
      .controls
        = f.select(:agent_id, options_for_select(User.agents.collect{ |u| [u.username, u.id] },
        @company.agent_id), {:prompt => "Выберите агента"})
  .control-group
    = f.label :comments, 'Примечание', :class => 'control-label'
    .controls
      = f.text_area :comments, :class => 'text_area input-xlarge', :rows => 3

  .form-actions
    = f.submit "Сохранить", :class => 'btn btn-primary', :id => 'company_save'
    -s = @company.id ? company_path(@company) : companies_path
    = link_to "Отмена", s, :class => 'btn'
