= form_for @company, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :title, :class => 'control-label'
    .controls
      = f.text_field :title, :class => 'text_field'
  .control-group
    = f.label :date_added, :class => 'control-label'
    .controls
      = f.date_select :date_added, :class => 'date_select'
  .control-group
    = f.label :rubricator, :class => 'control-label'
    .controls
      = f.number_field :rubricator, :class => 'number_field'
  .control-group
    = f.label :company_status_id, :class => 'control-label'
    .controls
      = f.number_field :company_status_id, :class => 'number_field'
  .control-group
    = f.label :author_user_id, :class => 'control-label'
    .controls
      = f.number_field :author_user_id, :class => 'number_field'
  .control-group
    = f.label :editor_user_id, :class => 'control-label'
    .controls
      = f.number_field :editor_user_id, :class => 'number_field'
  .control-group
    = f.label :company_source_id, :class => 'control-label'
    .controls
      = f.number_field :company_source_id, :class => 'number_field'
  .control-group
    = f.label :agent_id, :class => 'control-label'
    .controls
      = f.number_field :agent_id, :class => 'number_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), companies_path, :class => 'btn'
