%h3.well-title Информация
%table.table.table-condensed{id: 'company_info'}
  %tbody
    %tr
      %td
        %p.tl.t-cell-label Статус:
      %td
        %p{id:'company_status'}
          - if @company.company_status
            = @company.company_status.name
          - else
            Нет статуса
    -if @company.queued_for_deletion?
      %tr
        %td
          %p.tl.t-cell-label Причина удаления:
        %td
          %p
            = @company.reason_deleted_on
    %tr
      %td
        %p.tl.t-cell-label Добавлена:
      %td
        %p{id:'added'}
          - if @company.date_added
            = @company.date_added.strftime("%d.%m.%Y %H:%M")
            = @company.author_name
    %tr
      %td
        %p.tl.t-cell-label Изменена:
      %td
        %p{id:'updated'}
          = @company.updated_at.strftime("%d.%m.%Y %H:%M")
          = @company.editor_name
    %tr
      %td
        %p.tl.t-cell-label Рубрикатор:
      %td
        = @company.rubricator_name
    %tr
      %td
        %p.tl.t-cell-label Источник:
      %td
        =@company.source_name
      -if @company.from_agent?
        %tr
          %td
            %p.tl.t-cell-label Агент:
          %td= @company.agent_name
    -if @company.comments
      -if @company.comments.length > 0
        %tr
          %td{colspan: 2}
            %p=@company.comments

%div{style: "text-align: center;"}
  .form-inline

    -if (@current_user.is_admin? || @current_user.is_operator?) && !@company.active?
      %a{ :href => activate_company_path(@company), :class => "btn btn-small btn-success"}
        %i.icon-ok.icon-white
        Активировать
    = link_to "Изменить", edit_company_path(@company), :class => 'btn btn-small', :id => 'company_edit_link'

    -if @company.queued_for_deletion?

      = link_to "Отменить удаление", company_unqueue_for_delete_path(@company), :class => 'btn btn-small', :id => 'company_undelete_link'

    -else

      -if @current_user.is_admin? || @current_user.is_operator?
        = link_to "Удалить", company_path(@company), :method => "delete", :confirm => "Вы уверены?",
        :class => 'btn btn-danger btn-small', :id => 'company_delete_link'
      -else
        -css = 'btn btn-danger btn-small'
        -css = @company.queued_for_deletion? ? css + ' disabled' : css
        = link_to "Удалить", company_request_delete_path(@company), :class => css, :id => 'company_delete_link',
        :onClick => 'clickCompanyDelete(event)'