%h3.well-title Информация
%table.table.table-condensed{id: 'company_info'}
  %tbody
    %tr
      %td
        %p.tl.t-cell-label Статус:
      %td
        %p{id:'company_status'}
          - if @company.company_status
            = @company.company_status.name
          - else
            Нет статуса
    -if @company.need_attention?
      %tr
        %td
          %p.tl.t-cell-label Причина:
        %td
          %p
            = @company.reason_need_attention_on
    -if @company.need_improvement?
      %tr
        %td
          %p.tl.t-cell-label Причина:
        %td
          %p
            = @company.reason_need_improvement_on
    -if @company.queued_for_deletion?
      %tr
        %td
          %p.tl.t-cell-label Причина удаления:
        %td
          %p
            = @company.reason_deleted_on
    %tr
      %td
        %p.tl.t-cell-label Добавлена:
      %td
        %p{id:'added'}
          - if @company.date_added
            = @company.date_added.strftime("%d.%m.%Y %H:%M")
            = @company.author_name
    %tr
      %td
        %p.tl.t-cell-label Изменена:
      %td
        %p{id:'updated'}
          = @company.updated_at.strftime("%d.%m.%Y %H:%M")
          = @company.editor_name
    %tr
      %td
        %p.tl.t-cell-label Рубрикатор:
      %td
        = @company.rubricator_name
    %tr
      %td
        %p.tl.t-cell-label Источник:
      %td
        =@company.source_name
      -if @company.from_agent?
        %tr
          %td
            %p.tl.t-cell-label Агент:
          %td= @company.agent_name
    -if @company.comments
      -if @company.comments.length > 0
        %tr
          %td{colspan: 2}
            %p=@company.comments

%div{style: "text-align: center;"}
  .form-inline
    -if (@current_user.is_admin? || @current_user.is_operator?) && !@company.active?
      %a{ :href => activate_company_path(@company), :class => "btn btn-mini btn-success"}
        %i.icon-ok.icon-white
        Активировать
    = link_to "Изменить", edit_company_path(@company), :class => 'btn btn-mini', :id => 'company_edit_link'

    -if (@current_user.is_admin? || @current_user.is_operator?) && !@company.need_improvement?
      -unless @company.archived? || @company.need_attention? || @company.queued_for_deletion?
        = link_to "На доработку", company_request_improvement_reason_path(@company), :class => 'btn btn-mini',
        :id => 'company_need_improvement_link', onClick: 'clickCompanyNeedImprovement(event)'

    -if @current_user.is_agent? && @company.need_improvement?
      = link_to "Доработана", company_improve_path(@company), :class => 'btn btn-mini btn-success',
      :id => 'company_improve_link'

    -if @company.queued_for_deletion?

      = link_to "Отменить удаление", company_unqueue_for_delete_path(@company), :class => 'btn btn-mini', :id => 'company_undelete_link'

      -unless @current_user.is_agent?
        = link_to "Удалить", company_path(@company), :method => "delete", :confirm => "Вы уверены?",
        :class => 'btn btn-danger btn-mini', :id => 'company_delete_link'

    -else
      -if @current_user.is_admin? || @current_user.is_operator?
        = link_to "Удалить", company_path(@company), :method => "delete", :confirm => "Вы уверены?",
        :class => 'btn btn-danger btn-mini', :id => 'company_delete_link'
      -else
        -css = 'btn btn-danger btn-mini'
        -css = @company.queued_for_deletion? ? css + ' disabled' : css
        = link_to "Удалить", company_request_delete_path(@company), :class => css, :id => 'company_delete_link',
        :onClick => 'clickCompanyDelete(event)'

    -unless @company.archived?
      = link_to "В архив", archive_company_path(@company), :class => 'btn btn-mini', :id => 'company_archive_link'

-unless @current_user.is_admin? or @current_user.is_operator?
  -if @company.active?
    %p
      #need_attention
        %table.table.table-condensed{id: 'company_need_attention'}
          %tbody
            %tr
              %td
                %p
                  %small
                    Если компания требует реакции со стороны администратора, отправьте ему обращение
                %p{style: "text-align:center;"}
                  = link_to "Отправить администратору", company_request_attention_reason_path(@company), class: 'btn btn-mini',
                  id: 'company_request_attention_link', onClick: 'clickCompanyNeedAttention(event)'