.form-inline
  = autocomplete_field_tag 'company_rubric', '', companies_autocomplete_rubric_name_path(@company), :onKeyup => "onRubSelect()",
  :placeholder => "Начните печатать для выбора из списка", :id_element => '#rubric_id', :id => 'company_rubric_id'
  = hidden_field_tag 'rubric_id'
  = hidden_field_tag 'company_id', @company.id
  = link_to "Добавить рубрику", "#", :id => "add_rub_link", :remote => true, :class => "btn btn-small",
  :onClick => "$('#company_rubric_id').val('')"
%p
  #rubrics_list
    = render :partial => "rubrics_list"