# encoding: utf-8
= render :partial => "shared/top_menu"
= render :partial => "shared/messages"

%h1.section-title#title
  Компании

%p
  = link_to 'Добавить компанию', new_company_path

%table#index
  %tr
    %th Статус
    %th Название
    %th Добавлена
    %th Изменена
    %th Рубрикатор
    %th Операции

  - @companies.each do |company|
    %tr
      %td= company.company_status.name
      %td= link_to company.title, company
      %td
        - if company.date_added
          = company.date_added.strftime("%d.%m.%Y")
          = company.author_name
      %td
        = company.updated_at.strftime("%d.%m.%Y %H:%M")
        = company.editor_name
      %td= company.rubricator_name
      %td= link_to 'Удалить', company, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'Добавить компанию', new_company_path
