# encoding: utf-8
-#TODO: Вынести этот блок в partial
#message
  - if flash[:notice]
    #notice
      = flash[:notice]
  - if flash[:error]
    #warning
      Ошибка:
      %br
      - if flash[:error].is_a?(Array)
        - flash[:error].each do |msg|
          = msg
      - else
        = flash[:error]

-#TODO: Вынести блок верхнего меню в partial
= link_to "Компании", companies_path
- if @current_user.is_admin?
  = link_to "Пользователи", users_path
= link_to "Выйти", logout_path

%h1.section-title
  Компании

%table
  %tr
    %th Title
    %th Date added
    %th Rubricator
    %th
    %th
    %th

  - @companies.each do |company|
    %tr
      %td= company.title
      %td= company.date_added
      %td= company.rubricator
      %td= link_to 'Show', company
      %td= link_to 'Edit', edit_company_path(company)
      %td= link_to 'Destroy', company, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Company', new_company_path
