
= render :partial => "shared/top_menu"
= render :partial => "shared/messages"

%h1#title
  = @company.title
%p
  %strong Статус
  %div#company_status
    - if @company.company_status
      = @company.company_status.name
    - else
      Нет статуса
%p
  %strong Date added:
  = @company.date_added
%p
  %strong Rubricator:
  Социальный
  = check_box_tag "company[rubricator]", 1, @company.social_rubricator? || @company.full_rubricator?, :disabled => true
  Коммерческий
  = check_box_tag "company[rubricator]", 2, @company.commercial_rubricator? || @company.full_rubricator?, :disabled => true

%h2 Филиалы

%table#index
  %tr
    %th Фактическое название
    %th Юридическое название
    %th Форма собственности
  -@branches.each do |branch|
    %td= branch.fact_name
    %td= branch.legel_name
    %td= branch.form_type.name

%p= link_to 'Добавить филиал', new_company_branch_path(@company)

= link_to 'Edit', edit_company_path(@company)
\|
= link_to 'Back', companies_path
