= render :partial => "shared/messages"

.page-header
  %h1
    = @company.title
    %p
      %small Просмотр компании

.container-fluid
  .row-fluid
    .span4
      .well
        %h3.well-title Информация
        %table.table.table-condensed{id: 'company_info'}
          %tbody
            %tr
              %td
                %p.tl.t-cell-label Статус:
              %td
                - if @company.company_status
                  = @company.company_status.name
                - else
                  Нет статуса
            %tr
              %td
                %p.tl.t-cell-label Добавлена:
              %td
                %p{id:'added'}
                  - if @company.date_added
                    = @company.date_added.strftime("%d.%m.%Y %H:%M")
                    = @company.author_name
            %tr
              %td
                %p.tl.t-cell-label Изменена:
              %td
                %p{id:'updated'}
                  = @company.updated_at.strftime("%d.%m.%Y %H:%M")
                  = @company.editor_name
            %tr
              %td
                %p.tl.t-cell-label Рубрикатор:
              %td
                = @company.rubricator_name
            %tr
              %td
                %p.tl.t-cell-label Источник:
              %td
                =@company.source_name
              -if @company.from_agent?
                %tr
                  %td
                    %p.tl.t-cell-label Агент:
                  %td= @company.agent_name

        %div{style: "text-align: center;"}
          .form-inline
            -if (@current_user.is_admin? || @current_user.is_operator?) && !@company.active?
              %a{ :href => activate_company_path(@company), :class => "btn btn-small btn-success"}
                %i.icon-ok.icon-white
                Активировать
            = link_to "Изменить", edit_company_path(@company), :class => 'btn btn-small'
            = link_to "Удалить", company_path(@company), :method => "delete", :confirm => "Вы уверены?", :class => 'btn btn-danger btn-small'



    .span8
      .well
        %h3.well-title
          Рубрики
          %small Выберите из списка, чтобы добавить
        %p
          .form-inline
            = select_tag("select_rubrics", options_for_select(Rubric.by_rubricator(@company.rubricator).collect{ |s| [s.name, s.id] }),
            {:prompt => "Выберите рубрику", :onChange => "onRubSelect()", :id => "select_rubrics_id"})
            = link_to "Добавить рубрику", "#", :id => "add_rub_link", :remote => true, :class => "btn btn-small",
            :onClick => "$('select option:first').attr('selected','1');"
            :javascript
              gts_company.id = "#{@company.id}";

            #rubrics_list
              = render :partial => "rubrics_list"

    .row-fluid
      .span12
        .well
          %h3.well-title
            Филиалы

          %p= link_to 'Создать', new_company_branch_path(@company), class: "btn btn-mini"

          %table#branches.table.table-striped
            %tr
              %th Головной
              %th Информация
              %th Операции
            -@company.branches_sorted.each do |branch|
              %tr
                %td= check_box_tag("cb_branch_main", 1, branch.is_main?, { :disabled => "disabled" })
                %td
                  %p
                    = link_to branch.formatted_name, branch_path(branch)
                  %p
                    %small
                      = branch.address.full_address if branch.address
                %td
                  -unless branch.is_main?
                    = link_to 'Сделать головным', branch_make_main_path(branch), class: "btn btn-mini"
                  %a{ :href => edit_branch_path(branch), :class => "btn btn-mini"}
                    %i.icon-edit.icon-white
                    Изменить
                  %a{ :href => branch_path(branch), :class => "btn btn-mini",
                  "data-confirm" => "Вы уверены?",  "data-method" => "delete", :rel => "nofollow" }
                    %i.icon-trash.icon-white
                    Удалить



  .row-fluid
    .span12
      .well
        %h3.well-title Договоры

        %p= link_to 'Создать', new_company_contract_path(@company), class: "btn btn-mini"

        -if @company.contracts.count > 0
          -# | number | project_code | date_sign  | amount | contract_status_id |
          %table#contracts.table.table-striped
            %tr
              %th №
              %th Проект
              %th Подписан
              %th Сумма
              %th Статус
              %th Операции
            -@company.contracts.each do |contract|
              %tr
                %td= link_to contract.number, contract_path(contract)
                %td= contract.project_code.name if contract.project_code
                %td= contract.date_sign.strftime("%d.%m.%Y") if contract.date_sign
                %td= contract.amount
                %td= contract.contract_status.name if contract.contract_status
                -if contract.can_delete?(@current_user)
                  %td
                    -if @current_user.is_admin? && !contract.active?
                      =link_to 'Активировать', activate_contract_path(contract),
                      :class => 'btn btn-success btn-mini'
                    %a{ :href => edit_contract_path(contract), :class => "btn btn-mini"}
                      %i.icon-edit.icon-white
                      Изменить
                    %a{ :href => contract_path(contract), :class => "btn btn-mini",
                    "data-confirm" => "Вы уверены?",  "data-method" => "delete", :rel => "nofollow" }
                      %i.icon-trash.icon-white
                      Удалить
                -else
                  %td

        -else
          Договоров нет.

