= render :partial => "shared/top_menu"
= render :partial => "shared/messages"

%h1#title
  = @company.title
%p
  %strong Статус
  %div#company_status
    - if @company.company_status
      = @company.company_status.name
    - else
      Нет статуса
%p
  %strong Date added:
  = @company.date_added
%p
  %strong Rubricator:
  Социальный
  = check_box_tag "company[rubricator]", 1, @company.social_rubricator? || @company.full_rubricator?, :disabled => true
  Коммерческий
  = check_box_tag "company[rubricator]", 2, @company.commercial_rubricator? || @company.full_rubricator?, :disabled => true

= link_to 'Edit', edit_company_path(@company)
\|
= link_to 'Back', companies_path
