
= render :partial => "shared/top_menu"
= render :partial => "shared/messages"

%h1#title
  = @company.title
%p
  %div#company_status
    %strong Статус:
    - if @company.company_status
      = @company.company_status.name
    - else
      Нет статуса

#dates
  %span{ :style => "font-weight: bold;"} Добавлена:
  #added
    - if @company.date_added
      = @company.date_added.strftime("%d.%m.%Y")
      = @company.author_name
  %span{ :style => "font-weight: bold;"} Изменена:
  #updated
    = @company.updated_at.strftime("%d.%m.%Y %H:%M")
    = @company.editor_name
%p
  %strong Рубрикатор:
  =@company.rubricator_name

%p
  %strong Источник информации:
  =@company.source_name

-if @company.from_agent?
  %p
    %strong Агент
    =@company.agent_name

-if (@current_user.is_admin? || @current_user.is_operator?) && !@company.active?
  = link_to 'Активировать', activate_company_path(@company)
  \|
= link_to 'Изменить', edit_company_path(@company)
\|
= link_to 'Назад', companies_path

%h2 Филиалы

%p= link_to 'Добавить филиал', new_company_branch_path(@company)

%table#branches.sub-index
  %tr
    %th
    %th Форма собственности
    %th Фактическое название
    %th Юридическое название
    %th Адрес
    %th
  -@company.branches_sorted.each do |branch|
    %tr
      %td= branch.is_main? ? "Головной филиал" : ""
      %td= branch.form_type.name
      %td= link_to branch.fact_name, branch_path(branch)
      %td= branch.legel_name
      %td= branch.address.full_address if branch.address
      %td
        = link_to 'Удалить', branch, :confirm => 'Вы уверены?', :method => :delete
        -unless branch.is_main?
          \|
          = link_to 'Сделать головным', branch_make_main_path(branch)

%p= link_to 'Добавить филиал', new_company_branch_path(@company)


%h2 Рубрики

%div
  Рубрики
  = select_tag("select_rubrics", options_for_select(Rubric.by_rubricator(@company.rubricator).collect{ |s| [s.name, s.id] }),
  {:prompt => "Выберите рубрику", :onChange => "onRubSelect()", :id => "select_rubrics_id"})
  = link_to "Добавить рубрику", "#", :id => "add_rub_link", :remote => true,
  :onClick => "$('select option:first').attr('selected','1');"

  :javascript
    gts_company.id = "#{@company.id}";

  #rubrics_list
    = render :partial => "rubrics_list"

%h2 Договоры

%p= link_to 'Создать договор', new_company_contract_path(@company)

-if @company.contracts.count > 0
  -# | number | project_code | date_sign  | amount | contract_status_id |
  %table#contracts.sub-index
    %tr
      %th №
      %th Код проекта
      %th Дата подписания
      %th Сумма
      %th Статус
      %th
    -@company.contracts.each do |contract|
      %tr
        %td= link_to contract.number, contract_path(contract)
        %td= contract.project_code.name if contract.project_code
        %td= contract.date_sign.strftime("%d.%m.%Y") if contract.date_sign
        %td= contract.amount
        %td= contract.contract_status.name if contract.contract_status
        -if contract.can_delete?(@current_user)
          %td
            =link_to 'Удалить', contract, :confirm => 'Вы уверены?', :method => :delete
            -if @current_user.is_admin? && !contract.active?
              \|
              =link_to 'Активировать', activate_contract_path(contract)
        -else
          %td

  %p= link_to 'Создать договор', new_company_contract_path(@company)

-else
  Договоров нет.
