
= render :partial => "shared/top_menu"
= render :partial => "shared/messages"

%h1#title
  = @company.title
%p
  %div#company_status
    %strong Статус:
    - if @company.company_status
      = @company.company_status.name
    - else
      Нет статуса
%p
  %strong Добавлена:
  = @company.date_added
%p
  %strong Рубрикатор:
  =@company.rubricator_name

= link_to 'Изменить', edit_company_path(@company)
\|
= link_to 'Назад', companies_path

%h2 Филиалы

%p= link_to 'Добавить филиал', new_company_branch_path(@company)

%table#index
  %tr
    %th Форма собственности
    %th Фактическое название
    %th Юридическое название
    %th Адрес
    %th
  -@branches.each do |branch|
    %tr
      %td= branch.form_type.name
      %td= link_to branch.fact_name, branch_path(branch)
      %td= branch.legel_name
      %td= branch.address.full_address if branch.address
      %td= link_to 'Удалить', branch, :confirm => 'Вы уверены?', :method => :delete

%p= link_to 'Добавить филиал', new_company_branch_path(@company)


