= render :partial => "shared/messages"

.page-header
  %h1
    = @company.title
    %p
      %small Просмотр компании

.container-fluid
  .row-fluid
    .span4
      .well
        %h3.well-title Информация

        #company_status.control-group
          Статус:
          - if @company.company_status
            = @company.company_status.name
          - else
            Нет статуса
        .control-group
          Добавлена:
          - if @company.date_added
            = @company.date_added.strftime("%d.%m.%Y")
            = @company.author_name
        .control-group
          Изменена:
          = @company.updated_at.strftime("%d.%m.%Y %H:%M")
          = @company.editor_name
        .control-group
          Рубрикатор:
          = @company.rubricator_name
        .control-group
          Источник:
          =@company.source_name
        -if @company.from_agent?
          .control-group
            Агент:
            =@company.agent_name

        .form-actions
          = link_to t('.back', :default => t("helpers.links.back")), companies_path, :class => 'btn'
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_company_path(@company), :class => 'btn'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), company_path(@company), :method => "delete", :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-danger'

        -if (@current_user.is_admin? || @current_user.is_operator?) && !@company.active?
          = link_to 'Активировать', activate_company_path(@company)
          \|
        = link_to 'Изменить', edit_company_path(@company)
        \|
        = link_to 'Назад', companies_path

    .span8
      .well
        %h3.well-title Рубрики
        %p
          %div
            = select_tag("select_rubrics", options_for_select(Rubric.by_rubricator(@company.rubricator).collect{ |s| [s.name, s.id] }),
            {:prompt => "Выберите рубрику", :onChange => "onRubSelect()", :id => "select_rubrics_id"})
            = link_to "Добавить рубрику", "#", :id => "add_rub_link", :remote => true,
            :onClick => "$('select option:first').attr('selected','1');"
            %hr
            :javascript
              gts_company.id = "#{@company.id}";

            #rubrics_list
              = render :partial => "rubrics_list"

  .row-fluid
    .span12
      .well
        %h3.well-title Договоры

        %p= link_to 'Создать договор', new_company_contract_path(@company)

        -if @company.contracts.count > 0
          -# | number | project_code | date_sign  | amount | contract_status_id |
          %table#contracts.table.table-striped
            %tr
              %th №
              %th Проект
              %th Подписан
              %th Сумма
              %th Статус
              %th Операции
            -@company.contracts.each do |contract|
              %tr
                %td= link_to contract.number, contract_path(contract)
                %td= contract.project_code.name if contract.project_code
                %td= contract.date_sign.strftime("%d.%m.%Y") if contract.date_sign
                %td= contract.amount
                %td= contract.contract_status.name if contract.contract_status
                -if contract.can_delete?(@current_user)
                  %td
                    -if @current_user.is_admin? && !contract.active?
                      \|
                      =link_to 'Активировать', activate_contract_path(contract),
                      :class => 'btn btn-success btn-mini'
                    %a{ :href => contract_path(contract), :class => "btn btn-danger btn-small",
                    "data-confirm" => "Вы уверены?",  "data-method" => "delete", :rel => "nofollow" }
                      %i.icon-trash.icon-white
                      Удалить
                -else
                  %td

        -else
          Договоров нет.

  .row-fluid
    .span12
      .well
        %h3.well-title Филиалы

        %p= link_to 'Добавить филиал', new_company_branch_path(@company)

        %table#branches.table.table-striped
          %tr
            %th Головной
            %th Информация
            %th Операции
          -@company.branches_sorted.each do |branch|
            %tr
              %td= check_box_tag("cb_branch_main", 1, branch.is_main?, { :disabled => "disabled" })
              %td= link_to branch.formatted_name, branch_path(branch)
              %td
                -unless branch.is_main?
                  = link_to 'Сделать головным', branch_make_main_path(branch), class: "btn btn-small btn-primary"

                %a{ :href => branch_path(branch), :class => "btn btn-danger btn-small",
                "data-confirm" => "Вы уверены?",  "data-method" => "delete", :rel => "nofollow" }
                  %i.icon-trash.icon-white
                  Удалить

