= form_for @street, :html => { :class => 'well form-inline', :id => 'new_street_form' } do |f|
  -if @street.errors.any?
    #error_explanation
      %h2= "Ошибки:"
      %ul
        - @street.errors.full_messages.each do |msg|
          %li= msg
  .control-group#city_group
    = f.label :city_id, 'Населённый пункт', :class => 'control-label'
    .controls
      = f.select(:city_id, options_for_select(City.all.collect{ |c| [c.name, c.id] },
      @street.city_id), {prompt: 'Выберите', class: 'select_field'})
  .control-group#name_group
    = f.label :name, 'Название', :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'

  .form-actions
    = f.submit 'Сохранить', :class => 'btn btn-primary', id: 'btn_street_save'
    = link_to 'Отмена', streets_path, :class => 'btn'
