-if @streets_by_city && @streets_by_city.any?
  .pagination-centered
    = will_paginate @streets_by_city, inner_window: 1, outer_window: 1, params: {city_id: @streets_by_city.first.city_id}
    %table.table.table-bordered.table-striped{id:'streets'}
      %thead
        %tr
          %th Название
          %th
            -if @streets_by_city.any?
              .reporesult-header.reporesult-header-right
                =link_to image_tag('export_pdf.png', {alt: 'скачать PDF', title: 'скачать PDF'}), streets_by_city_export_path(format: :pdf),
                id: 'report_export_pdf'
                =link_to image_tag('export_rtf.png', {alt: 'скачать RTF', title: 'скачать RTF'}), streets_by_city_export_path(format: :rtf),
                id: 'report_export_rtf'
                =link_to image_tag('export_excel.png', {alt: 'скачать Excel-формат', title: 'скачать Excel-формат'}), streets_by_city_export_path(format: :xls),
                id: 'report_export_xls'
      %tbody
        - @streets_by_city.each do |street|
          %tr
            %td= street.name
            %td
              = link_to edit_street_path(street), :class => 'btn btn-mini', title: "Изменить" do
                =glyph(:edit)
              = link_to street_path(street), :method => :delete, :confirm => 'Удалить запись?',
              :class => 'btn btn-mini', title: "Удалить" do
                =glyph(:remove)

    = will_paginate @streets_by_city, inner_window: 1, outer_window: 1, params: {city_id: @streets_by_city.first.city_id}