.page-header
  %h1
    Улицы

.container
  .row
    .span10

      %p
        =link_to new_street_path, :class => 'btn' do
          =glyph(:plus)
          Добавить улицу

      = form_tag streets_by_city_path, {:remote => true, :method => :post, :class => 'well form-horizontal',
      :id => 'search_form_plain'} do
        #s_address_city.control-group
          = label_tag 'Населённый пункт:', nil, :class => 'control-label'
          .controls
            = select_tag("city_id", options_for_select(City.order("name").collect{ |s| [s.name, s.id] }), {:id => "city_id"})
            = submit_tag "Показать", {:id => "do_show", :class => 'btn'}

        = render :partial => "shared/messages"

      #streets_by_city
        =render :partial => 'streets_list'
