%h1 Listing form_types

%table
  %tr
    %th Name
    %th Old
    %th
    %th
    %th

  - @form_types.each do |form_type|
    %tr
      %td= form_type.name
      %td= form_type.old_id
      %td= link_to 'Show', form_type
      %td= link_to 'Edit', edit_form_type_path(form_type)
      %td= link_to 'Destroy', form_type, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Form type', new_form_type_path
