- model_class = FormType
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @form_type.name
%p
  %strong= model_class.human_attribute_name(:old_id) + ':'
  %br
  = @form_type.old_id

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), form_types_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_form_type_path(@form_type), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), form_type_path(@form_type), :method => "delete", :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-danger'
