-if @report_result
  .row-fluid
    .span10
      %div
        %h4=@report_result[:rubric_name]
        .reporesult-header.reporesult-header-left
          Компании:
          -case @report_result[:filter]
            -when :active
              Активные
            -when :archived
              Архивные
            -else
              Все
        -if @report_result[:companies].any?
          .reporesult-header.reporesult-header-right
            =link_to image_tag('export_pdf.png', {alt: 'скачать PDF', title: 'скачать PDF'}), report_company_by_rubric_export_path(format: :pdf),
            id: 'report_export_pdf'
            -#=link_to image_tag('export_rtf.png', {alt: 'скачать RTF', title: 'скачать RTF'}), report_company_by_rubric_export_path(format: :rtf),
            -#id: 'report_export_rtf'
            =link_to image_tag('export_excel.png', {alt: 'скачать Excel-формат', title: 'скачать Excel-формат'}), report_company_by_rubric_export_path(format: :xls),
            id: 'report_export_xls'

      -if @report_result[:companies].any?
        %table#report_results_table.table.table-striped
          %tr
            %th Компания
            %th Информация
          -@report_result[:companies].each do |rr|
            -m_branch = rr.main_branch
            %tr
              %td{style: "width:40%"}
                =link_to rr.title, company_path(rr)
                -if m_branch
                  %p
                    ="#{m_branch.fact_name}, #{m_branch.legel_name}"
              %td
                -if m_branch
                  %ul
                    %li
                      %p.text-bold
                        ="#{m_branch.fact_name}"
                      -unless m_branch.address.nil?
                        %p
                          ="#{m_branch.address.full_address}"
                      -if m_branch.phones.any?
                        -m_branch.phones_by_order.each do |p|
                          =%Q{#{p.name_formatted(true)} - #{p.description}}
                          %br
                -rr.branches_sorted.each do |b|
                  %ul
                    -unless b.is_main?
                      %li
                        %p.text-bold
                          ="#{b.fact_name}"
                        -unless b.address.nil?
                          %p
                            ="#{b.address.full_address}"
                        -if b.phones.any?
                          -b.phones_by_order.each do |p|
                            =%Q{#{p.name_formatted(true)} - #{p.description}}
                            %br

                %p.reporesult-section-header Персоны
                %ul
                  -rr.persons.each do |per|
                    %li
                      =per.full_info
                %p.reporesult-section-header Почта
                %ul
                  -rr.branches_sorted.each do |b|
                    -if b.all_emails_str.length > 0
                      %li
                        =b.all_emails_str
                %p.reporesult-section-header Веб-сайты
                %ul
                  -rr.branches_sorted.each do |b|
                    -if b.all_websites_str.length > 0
                      %li
                        =b.all_websites_str
                %p.reporesult-section-header Рубрики
                %p
                  -rr.rubrics.each do |rub|
                    =rub.name
                    %br

                %p.reporesult-section-header Договора
                %ul
                  -rr.contracts.each do |c|
                    %li
                      =c.info

      -else
        .reporesult-message.alert
          %h5 Компаний не найдено.