-if @report_result
  .row-fluid
    .span10
      .well
        %div
          %h4
            = "Компании по улице #{@report_result[:street].name} (#{@report_result[:street].city.name})"
          .reporesult-header.reporesult-header-left
            Рубрикатор:
            = Rubric.rubricator_name_for(@report_result[:rubricator_filter])
          -if @report_result[:companies].any?
            .reporesult-header.reporesult-header-right
              =image_tag "pdf-icon.gif", alt: 'скачать PDF'

        -if @report_result[:companies].any?
          %table#report_results_table.table.table-striped
            %tr
              %th Компания
              %th Информация
            -@report_result[:companies].each do |rr|
              %tr
                %td
                  =link_to rr.title, company_path(rr)
                  %p
                    ="#{rr.main_branch.fact_name}, #{rr.main_branch.legel_name}"
                %td
                  %p Адреса
                  %ul
                    %li
                      ="#{rr.main_branch.fact_name}, #{rr.main_branch.legel_name}, #{rr.main_branch.address.full_address}"
                    -rr.branches_sorted.each do |b|
                      -unless b.is_main
                        %li
                          ="#{b.fact_name}, #{b.legel_name}, #{b.address.full_address}"
                  %p Телефоны
                  %ul
                    -rr.branches_sorted.each do |b|
                      -b.phones_by_order.each do |p|
                        %li
                          =%Q{#{p.name_formatted} - #{p.description}}
                  %p Персоны
                  %ul
                    -rr.persons.each do |per|
                      %li
                        =per.full_info
                  %p Почта
                  %ul
                    -rr.branches_sorted.each do |b|
                      -if b.all_emails_str.length > 0
                        %li
                          =b.all_emails_str
                  %p Вебс-сайты
                  %ul
                    -rr.branches_sorted.each do |b|
                      -if b.all_websites_str.length > 0
                        %li
                          =b.all_websites_str
                  %p Рубрики
                  -s = ""
                  -rr.rubrics.each do |rub|
                    -s = %Q{#{s}  #{rub.name},}
                  %p
                    =s.gsub(/,$/, '')
                  %p Активные договора
                  %ul
                    -rr.contracts.each do |c|
                      -if c.active?
                        %li
                          =c.info

        -else
          .reporesult-message.alert
            %h5 Компаний не найдено.