-form_params = @branch && !@address.id ? [@branch, @address] : @address
= form_for form_params, :html => { :class => 'well form-horizontal' }  do |f|
  -if @address.errors.any?
    #error_explanation
      %h2= "#{pluralize(@address.errors.count, "error")} prohibited this address from being saved:"
      %ul
        - @address.errors.full_messages.each do |msg|
          %li= msg

  .control-group#addr-city-group
    = f.label :city, 'Город', :class => 'control-label'
    .controls
      -s = @address.city ? @address.city.name : nil
      = autocomplete_field_tag 'address_city_id', s, addresses_autocomplete_city_name_path,
      :placeholder => "Начните печатать для выбора из списка", :id_element => '#city_id', :id => 'address_city_id'
      -#:onKeyUp => 'onCityChanged()', :onChange => 'onCityChanged()'
      -city_id = @address.city ? @address.city.id : ''
      = hidden_field_tag :city_id, city_id
  .control-group#addr-street-group
    = f.label :street, 'Улица', :class => 'control-label'
    .controls
      -s = @address.street ? @address.street.name : ''
      = autocomplete_field_tag 'addr_address_street', s, '',
      :placeholder => "Начните печатать для выбора", :id => 'addr_address_street', :id_element => '#street_id'
      -street_id = @address.street ? @address.street.id : ''
      -street_city_id = @address.street ? @address.street.city_id : ''
      = hidden_field_tag :street_id, street_id
      = hidden_field_tag :street_city_id, street_city_id
  .control-group
    = f.label :house, 'Дом', :class => 'control-label'
    .controls
      = f.text_field :house
  .control-group
    = f.label :entrance, 'Подъезд', :class => 'control-label'
    .controls
      = f.text_field :entrance
  .control-group
    = f.label :case, 'Строение', :class => 'control-label'
    .controls
      = f.text_field :case
  .control-group
    = f.label :stage, 'Этаж', :class => 'control-label'
    .controls
      = f.text_field :stage
  .control-group
    = f.label :office, 'Офис', :class => 'control-label'
    .controls
      = f.text_field :office
  .control-group
    = f.label :cabinet, 'Кабинет', :class => 'control-label'
    .controls
      = f.text_field :cabinet
  .control-group
    = f.label :other, 'Другое', :class => 'control-label'
    .controls
      = f.text_field :other
  .control-group
    = f.label :pavilion, 'Павильон', :class => 'control-label'
    .controls
      = f.text_field :pavilion
  .control-group
    = f.label :litera, 'Литера', :class => 'control-label'
    .controls
      = f.text_field :litera
  .form-actions
    = f.submit 'Сохранить', :class => 'btn btn-primary', id: 'btn_address_save'
    - path = @branch ? branch_path(@branch) : address_path(@address)
    = link_to 'Отмена', path, :class => 'btn'

