= form_for @address, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :house, :class => 'control-label'
    .controls
      = f.text_field :house, :class => 'text_field'
  .control-group
    = f.label :entrance, :class => 'control-label'
    .controls
      = f.text_field :entrance, :class => 'text_field'
  .control-group
    = f.label :case, :class => 'control-label'
    .controls
      = f.text_field :case, :class => 'text_field'
  .control-group
    = f.label :stage, :class => 'control-label'
    .controls
      = f.text_field :stage, :class => 'text_field'
  .control-group
    = f.label :office, :class => 'control-label'
    .controls
      = f.text_field :office, :class => 'text_field'
  .control-group
    = f.label :cabinet, :class => 'control-label'
    .controls
      = f.text_field :cabinet, :class => 'text_field'
  .control-group
    = f.label :other, :class => 'control-label'
    .controls
      = f.text_field :other, :class => 'text_field'
  .control-group
    = f.label :pavilion, :class => 'control-label'
    .controls
      = f.text_field :pavilion, :class => 'text_field'
  .control-group
    = f.label :litera, :class => 'control-label'
    .controls
      = f.text_field :litera, :class => 'text_field'
  .control-group
    = f.label :district_id, :class => 'control-label'
    .controls
      = f.number_field :district_id, :class => 'number_field'
  .control-group
    = f.label :city_id, :class => 'control-label'
    .controls
      = f.number_field :city_id, :class => 'number_field'
  .control-group
    = f.label :street_id, :class => 'control-label'
    .controls
      = f.number_field :street_id, :class => 'number_field'
  .control-group
    = f.label :post_index_id, :class => 'control-label'
    .controls
      = f.number_field :post_index_id, :class => 'number_field'
  .control-group
    = f.label :branch_id, :class => 'control-label'
    .controls
      = f.number_field :branch_id, :class => 'number_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), addresses_path, :class => 'btn'
