= form_for @address, :html => { :class => 'well form-horizontal' }  do |f|
  -if @address.errors.any?
    #error_explanation
      %h2= "#{pluralize(@address.errors.count, "error")} prohibited this address from being saved:"
      %ul
        - @address.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = f.label :district_id, 'Район:', :class => 'control-label'
    .controls
      = f.select(:district_id, options_for_select(District.all.collect{ |el| [el.name, el.id] }),
      {}, {class: 'select_field'})
  .control-group
    = f.label :city_id, 'Город', :class => 'control-label'
    .controls
      = f.select(:city_id, options_for_select(City.all.collect{ |el| [el.name, el.id] }))
  .control-group
    = f.label :street_id, 'Улица', :class => 'control-label'
    .controls
      = f.select(:street_id, options_for_select(Street.all.collect{ |el| [el.name, el.id] }))
  .control-group
    = f.label :post_index_id, 'Почтовый индекс', :class => 'control-label'
    .controls
      = f.select(:post_index_id, options_for_select(PostIndex.all.collect{ |el| [el.code, el.id] }))
  .control-group
    = f.label :house, 'Дом', :class => 'control-label'
    .controls
      = f.text_field :house
  .control-group
    = f.label :entrance, 'Подъезд', :class => 'control-label'
    .controls
      = f.text_field :entrance
  .control-group
    = f.label :case, 'Строение', :class => 'control-label'
    .controls
      = f.text_field :case
  .control-group
    = f.label :stage, 'Этаж', :class => 'control-label'
    .controls
      = f.text_field :stage
  .control-group
    = f.label :office, 'Офис', :class => 'control-label'
    .controls
      = f.text_field :office
  .control-group
    = f.label :cabinet, 'Кабинет', :class => 'control-label'
    .controls
      = f.text_field :cabinet
  .control-group
    = f.label :other, 'Другое', :class => 'control-label'
    .controls
      = f.text_field :other
  .control-group
    = f.label :pavilion, 'Павильон', :class => 'control-label'
    .controls
      = f.text_field :pavilion
  .control-group
    = f.label :litera, 'Литера', :class => 'control-label'
    .controls
      = f.text_field :litera
  .form-actions
    = f.submit 'Сохранить', :class => 'btn btn-primary'
    - path = @branch ? branch_path(@branch) : address_path(@address)
    = link_to 'Отмена', path, :class => 'btn'

