%h1 Listing addresses

%table
  %tr
    %th House
    %th Entrance
    %th Case
    %th Stage
    %th Office
    %th Cabinet
    %th Other
    %th Pavilion
    %th Litera
    %th District
    %th City
    %th Street
    %th Post index
    %th
    %th
    %th

  - @addresses.each do |address|
    %tr
      %td= address.house
      %td= address.entrance
      %td= address.case
      %td= address.stage
      %td= address.office
      %td= address.cabinet
      %td= address.other
      %td= address.pavilion
      %td= address.litera
      %td= address.district_id
      %td= address.city_id
      %td= address.street_id
      %td= address.post_index_id
      %td= link_to 'Show', address
      %td= link_to 'Edit', edit_address_path(address)
      %td= link_to 'Destroy', address, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Address', new_address_path
