
= render :partial => "shared/top_menu"
= render :partial => "shared/messages"

%h1#title
  Адрес

= link_to @branch.fact_name, branch_path(@branch)

%p
  %strong House:
  = @address.house
%p
  %strong Entrance:
  = @address.entrance
%p
  %strong Case:
  = @address.case
%p
  %strong Stage:
  = @address.stage
%p
  %strong Office:
  = @address.office
%p
  %strong Cabinet:
  = @address.cabinet
%p
  %strong Other:
  = @address.other
%p
  %strong Pavilion:
  = @address.pavilion
%p
  %strong Litera:
  = @address.litera
%p
  %strong District:
  = @address.district_id
%p
  %strong City:
  = @address.city_id
%p
  %strong Street:
  = @address.street_id
%p
  %strong Post index:
  = @address.post_index_id

= link_to 'Изменить', edit_address_path(@address)
\|
= link_to 'К филиалу', branch_path(@branch)
