= form_for @rubric, :html => { :class => 'well form-inline', :id => 'new_rubric_form' } do |f|
  -if @rubric.errors.any?
    #error_explanation
      %h2= "Ошибки:"
      %ul
        - @rubric.errors.full_messages.each do |msg|
          %li= msg
  .control-group#rub_name_group
    = f.label :name, 'Название', :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'

  .form-actions
    = f.submit 'Сохранить', :class => 'btn btn-primary', id: 'btn_rubric_save'
    = link_to 'Отмена', rubrics_path, :class => 'btn'
