- model_class = Rubric
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:old_id) + ':'
  %br
  = @rubric.old_id
%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @rubric.name
%p
  %strong= model_class.human_attribute_name(:social) + ':'
  %br
  = @rubric.social

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), rubrics_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_rubric_path(@rubric), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), rubric_path(@rubric), :method => "delete", :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-danger'
