-form_params = @contract ? [@contract, @product] : @product
= form_for (form_params),:html => { :class => 'well form-horizontal' } do |f|
  -if @product.errors.any?
    #error_explanation
      %h2= "#{pluralize(@product.errors.count, "error")}:"
      %ul
        - @product.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = f.label :product_id, 'Продукт', :class => 'control-label'
    .controls
      = f.select(:product_id, options_for_select(ProductType.all.collect{ |el| [el.name, el.id] }, @product.product_id),
      prompt: 'Выберите тип продукта')
  .control-group{id:'person_second_name_group'}
    = f.label :rubric, 'Рубрика', :class => 'control-label'
    .controls
      -s = @product.rubric ? @product.rubric.name : ''
      = autocomplete_field_tag 'product_rubric', s, products_autocomplete_rubric_name_path,
      :placeholder => "Начните печатать для выбора", :id => 'product_rubric', :id_element => '#product_rubric_id'
      -rub_id = @product.rubric ? @product.rubric.id : ''
      = hidden_field_tag :product_rubric_id, rub_id
  .control-group
    = f.label :proposal, 'Коммерческое предложение', :class => 'control-label'
    .controls
      = f.text_area :proposal, rows: 3

  .form-actions
    = f.submit 'Сохранить', :class => 'btn btn-primary'
    -s = @product.id ? contract_path(@product.contract) : contract_path(@contract)
    = link_to 'Отмена', s, :class => 'btn'