# encoding: utf-8
= render :partial => "shared/messages"

.page-header
  %h1
    Продукты

.container-fluid
  .row-fluid
    .span12.well

      %p
        = link_to 'Добавить', new_product_path, class: 'btn'

      %table.table.table-striped
        %tr
          %th Наименование
          %th Размер, мм
          %th Бонус
          %th Бонус для сайта
          %th Цена
          %th Операции

        - @products.each do |product|
          %tr
            %td= link_to product.name, edit_product_path(product)
            %td
              =product.size_width
              x
              =product.size_height
            %td= product.bonus_product.name if product.bonus_product
            %td= product.bonus_site
            %td= product.price
            %td
              = link_to 'Изменить', edit_product_path(product), :class => 'btn btn-mini'
              = link_to 'Удалить', product, :confirm => 'Вы уверены?', :method => :delete, :class => 'btn btn-mini btn-danger'
