# encoding: utf-8
= render :partial => "shared/top_menu"
= render :partial => "shared/messages"

%h1.section-title#title
  Продукты

%table
  %tr
    %th Наименование
    %th Размер, мм
    %th Бонус
    %th Бонус для сайта
    %th Цена
    %th Операции

  - @products.each do |product|
    %tr
      %td= product.name
      %td
        =product.size_width
        x
        =product.size_height
      %td= product.bonus_product_id
      %td= product.bonus_site
      %td= product.price
      %td= link_to 'Show', product
      %td= link_to 'Edit', edit_product_path(product)
      %td= link_to 'Destroy', product, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Product', new_product_path
