.page-header
  %h1
    Продукт
    %p
      %small= link_to @contract.number , contract_path(@contract)

  = render :partial => "shared/messages"

.container
  .row
    .span4
      .well
        %table.table.table-condensed.table-borderless
          %tbody
            %tr
              %td
                %p.tl.t-cell-label Продукт:
              %td
                = @product.product_type.name
            %tr
              %td
                %p.tl.t-cell-label Рубрика:
              %td
                = @product.rubric.name if @product.rubric

        %div{style: "text-align: center;"}
          .form-inline
            .btn-group
              =link_to contract_path(@contract), :class => 'btn btn-mini', title: 'К договору' do
                =glyph("arrow-left")
              = link_to edit_product_path(@product), class: 'btn btn-mini', title: 'Изменить' do
                =glyph(:edit)
              = link_to product_path(@product), :method => :delete, :confirm => 'Вы уверены?', title: 'Удалить', class: 'btn btn-mini' do
                =glyph(:remove)

    .span8
      %ul.nav.nav-tabs#products-tabs
        %li.active
          =link_to '#product-info' do
            Коммерческое предложение
      .tab-content
        .tab-pane.active#product-info
          %p
            -if @product.proposal.length > 0
              = @product.proposal
            -else
              Отсутствует