%p#notice= notice

%p
  %b Name:
  = @product.name
%p
  %b Size width:
  = @product.size_width
%p
  %b Size height:
  = @product.size_height
%p
  %b Bonus product:
  = @product.bonus_product_id
%p
  %b Bonus site:
  = @product.bonus_site
%p
  %b Price:
  = @product.price

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
