#div.container.login-container
  #div.content
    #div.row
      #div.login-form

        = render :partial => 'shared/messages'

        %h2{:style => 'margin-bottom: 10px;' } Авторизация
        = form_tag user_sessions_path, :method => :post do
          %fieldset
            #div.control-group
              = text_field_tag 'user_session[username]', nil, { :placeholder => 'Имя пользователя' }
            #div.control-group
              = text_field_tag 'user_session[password]', nil, { :placeholder => 'Пароль', :type => 'password' }
            = submit_tag 'Войти', { :id => 'login_bt', :class =>  'btn primary' }