!!! 5
%html
  %head
    %title ГТС. Управление каталогом компаний
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    - if @current_user
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            %a.btn.btn-navbar{"data-toggle" => "collapse", "data-target" => ".nav-collapse"}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar

            =link_to "ГТС", root_path, "class" => "brand"
            .nav-collapse
              %ul.nav
                %li{ class: top_menu_active?(companies_path) }
                  = link_to "Компании", companies_path
                %li{ class: top_menu_active?(search_path) }
                  = link_to "Поиск", search_path

              %ul.nav.pull-right
                - if @current_user && @current_user.is_admin?
                  %li.dropdown
                    %a.dropdown-toggle{ "data-toggle" => "dropdown" }
                      %i.icon-settings
                      Настройки
                      %b.caret
                      %ul.dropdown-menu
                        %li
                          = link_to "Пользователи", users_path, id: "users_link"
                        %li
                          = link_to "Коды проекта"
                        %li
                          = link_to "Продукты", products_path
                %li.divider-vertical
                %li
                  = link_to "Выйти", logout_path
      .navbar.navbar-fixed-bottom
        .navbar-inner
          .container
            %ul.nav.pull-right
              %li
                %p.navbar-text
                  = "gtsapp #{ApplicationHelper::APP_VERSION}"

    .container-fluid
      .row-fluid
        .span12
          = yield

