!!! 5
%html
  %head
    %title ГТС. Управление каталогом компаний
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    - if @current_user
      #div.navbar.navbar-fixed-top
        #div.navbar-inner
          #div.container
            %a.btn.btn-navbar{"data-toggle" => "collapse", "data-target" => ".nav-collapse"}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar

            =link_to "ГТС", root_path, "class" => "brand"
            #div.nav-collapse
              %ul.nav
                %li
                  = link_to "Главная", dashboard_path
                %li
                  = link_to "Компании", companies_path
                - if @current_user && @current_user.is_admin?
                  %li
                    = link_to "Пользователи", users_path
                %li
                  = link_to "Поиск", search_path
                %li
                  = link_to "Выйти", logout_path

    #div.container-fluid
      #div.row-fluid
        #div.span12
          = yield

